<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>
            {% block titulo %}Inicio{% endblock %}Máster en PHP de Víctor Robles
        </title>
    </head>
    <body>
        <div id="header">
            {% block cabecera %}
                <h1>Cabecera de la plantilla</h1>
            {% endblock %}
        </div>
        
        <section id="content">
            <hr>
            {% block contenido %}
                <p>Contenido por defecto</p>
            {% endblock %}
            <hr>
        </section>
        
        <footer>
            victorroblesweb.es
        </footer>
    </body>
</html>
